.product {
    display: flex;
    gap:40px;
    margin:130px 0px;
     
  }
  
  .content {
    width: 648px;
    max-width: 100%;
    text-align: left;
    margin-left: 71px;
  }
  .profitable{
    font-size: 25px;
    font-weight: 500;
    margin-top: 69px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .content h1 {
    font-size: 45px;
    margin-bottom: 0.5em;
  }
  
  .content p {
    margin-bottom: 1em;
  }
  .free-try {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 21px 60px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 19px;}
  

  .image-grid {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-right: 71px;
  }
  
  .scroll-container {
    overflow: hidden;
    height: 517px;
    width: 100%;
    margin: 10px 0;
    position: relative;
  }
  
  .scroll-inner {
    display: flex;
    flex-direction: column;
    animation: scroll 30s linear infinite;
  }
  
  .scroll-inner img {
    width: 155px;
    height: auto;
    margin: 5px 0;
    border-radius: 10px;
  }
  .scroll-inner1 {
    display: flex;
    flex-direction: column;
    animation: scroll1 30s linear infinite;
    
    
  }
  
  .scroll-inner1 img {
    width: 155px;
    height: auto;
    margin: 5px 0;
    border-radius: 10px;
  }
  
  @keyframes scroll {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-100%);
    }
  }
  @keyframes scroll1 {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  @media (max-width: 768px) {
    .product {
      flex-direction: column;
    }
  
    .content {
      margin-bottom: 20px;
      text-align: center;
    }
  
    .image-grid {
      justify-content: center;
    }
  
    .scroll-inner img {
      width: 80px;
    }
  }
  