.shopfy {
    display: flex;
    margin: 0 auto;
    margin-top: 50px;
  }
  
  .left-sections {
    flex: 1;
    padding-right: 20px;
    margin-left: 71px;
  }
  
  .browser-image {
    width: 100%;
    /* margin-top: -150px; */
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .right-sections {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
  }
  
  .track-revenue {
    font-size: 40px;
    color: #333;
    margin-bottom: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .shopfy-con {
    font-size: 25px;
    color: #666;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 30px;
    line-height: 1.6;
    width: 500px;
  }
  
  .cta-button {
    background-color: #4285f4;
    color: white;
    font-size: 20px;
    border: none;
    padding: 16px 45px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: flex-start;
  }
  
  .cta-button:hover {
    background-color: #3367d6;
  }
  
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
    }
  
    .left-sections {
      padding-right: 0;
      margin-bottom: 20px;
    }
  
    .right-sections {
      text-align: center;
    }
  
    .track-revenue {
      font-size: 20px;
    }
  
    .cta-button {
      align-self: center;
    }
  }